@import "tailwindcss";
@plugin "daisyui" {
  themes: light;
}

/** Custom colors for components*/
/* [data-theme="light"] {
  .green_btn {
    background-color: #4bb482;
    border-color: #4bb482;
  }
} */

/** CUSTOM COMPONENT UTILITIES (DAISY-UI)*/
@utility btn-primary {
  @apply rounded-full border-0 bg-emerald-600 shadow-md hover:bg-emerald-900;
}
@utility btn-secondary {
  @apply rounded-full border-0 bg-red-600 shadow-md hover:bg-red-900;
}

/** FONTS USED (google fonts)*/
@theme {
  --font-poppins: "Poppins";
  --font-montserrat: "Montserrat";
  --font-rubik: "Rubik";
  --font-honk: "Honk";
  --font-game: "Press Start 2P";
}

/* REUSABLE STYLES */

/** NOTE: Directly specify different sizes in the classNames*/

@layer components {
  /* Landing page card */
  .landing-card-mobile {
    @apply w-9/12 h-[20rem] bg-blue-400 rounded-2xl p-2 md:w-6/12 md:h-[25rem] md:bg-blue-400 md:rounded-2xl p-2;
  }

  /* landing page logo */
  .landing-logo-mobile {
    @apply w-40 h-35 transform translate-y-20 md:w-75 md:h-65 md:transform md:translate-y-30;
  }

  /* h1 Title */
  .title-text-mobile {
    @apply font-extrabold text-lg font-game md:font-extrabold md:text-3xl md:font-game;
  }

  .title-subtext {
    @apply text-sm font-poppins;
  }
}
